<ul class="preview__list">
    {{#each this}}
    <li class="preview__item">
        <img class="preview__img" src="{{flag}}" alt="flag of {{name}}" width="80" height="60">
        <p class="preview__name">{{name}}</p>
    </li>
    {{/each}}
</ul>